# Carpetas de build (MUY importante)
cmake-build-debug/
cmake-build-release/

# Configuración de CLion
.idea/

# Archivos compilados
*.exe
*.out
*.o
*.obj

# CMake temporales
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Logs
*.log